body {
    background-color: 8b8b8b;
}


ul {
    list-style-type: none;
    color: white;
    position: absolute;
    width: 1257px;
    height: 28px;
    left: 300px;
    top: 20px;
    letter-spacing: 2px;
    margin-left: 100px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
    }

ul a {
    color: black;
    font-size: 18px;
    font-weight: 400;
text-decoration: none;

}



.contact-social {
    margin-left: 1350px;
    margin-top: -70px;
}

.about-txt h3 {
    margin-left: 900px;
    margin-right: 300px;
    margin-top: 100px;
    font-weight: 325;
    
}